/* Remove hover effect for Portuguese link */
.menu li a.portuguese-link:hover {
    color: #fff !important; /* Set color to white and override existing hover */
    text-decoration: none !important; /* Remove underline */
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: #fff;
}

/* header */
.header {
    background-color: #000;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    padding: 28px;
 
}

.header ul {
    margin-right: 25px;
    margin-top: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #000;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    border-bottom: 4px solid #ffffff;
    padding-bottom: 10px;
    cursor: pointer;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-left: 15px;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-right: 30px;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

/* Banner section */
.banner-section {
    width: 100%;
    background-color: #000000;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 120px;
}

/* About and Contact container */
.about-contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* About me section */
.left-about-me {
    width: 45%;
}

.left-about-me p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
}

/* Contact me section */
.left-contact-me {
    width: 45%;
}

.left-contact-me ol {
    padding: 0;
    margin: 0;
}

.left-contact-me li {
    margin-bottom: 10px;
}

/* Font size class */
.font-size {
    color: #ffffff;
    font-size: 12px;
}

/* Project card container */
.project-card {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 97%;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Add this line to spread content */
    flex-wrap: wrap; /* Add this line for wrapping */
}

/* Project info */
.project-info {
    flex: 1;
    margin-left: 20px; /* Add space between image and tet */
    text-align: justify; /* Justify text */
    padding-top:60px;
   
  
}

/* Project image */
.project-image {
    flex: 1;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add border radius to the image */
}

/* Project card title */
.project-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Project card description */
.project-card p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Read more button */
.project-card .btn {
    display: inline-block;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-card .btn:hover {
    background-color: #cccccc; /* Light gray background on hover */
}

h3 {
    margin-top: 55px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

/* Remove list style */
.remove-list-style {
    list-style: none;
}

/* Mid container */
.mid-container {
    margin-left: 80px;
    margin-top: 80px;
}

/* Headings with Playfair Display font */
h1, h2 {
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

/* Highlight name and larger font size */
p strong {
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
}

/* Body text with Roboto font */
body, p, ul, li, label, input, textarea, form {
    font-family: 'Roboto', sans-serif;
}

/* Main content */
.main-content {
    width: 100%;
    height: 2300px;
    padding-top: 20px;
    background-color: #fff;
    margin-top: -50px;
}

/* Footer */
footer {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 40px;
    margin-top: auto;
}

/* Footer alternative */
#footer1 {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 70px;
    top: 0px;
}

/* Contact form */
.contact-form {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/* Form elements */
input[type="email"], input[type="button"], textarea, label {
    display: block;
}

/* Email input */
.input-email {
    width: 80%;
    border-width: 1px;
    border-radius: 4px;
    padding: 15px;
}

/* Form */
form {
    width: 60%;
    margin-left: 190px;
}

/* Label */
label {
    margin-top: 7px;
}

/* Button style */
.button-style {
    margin-top: 10px;
    background-color: #000000;
    padding: 12px 30px;
    color: #ffffff;
    border-radius: 4px;
}

/* Textarea */
textarea {
    width: 80%;
    border-width: 1px;
    border-radius: 4px;
    height: 250px;
}

/* Use relative units */
body, p, ul, li, label, input, textarea, form {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Base font size */
}

/* Hobbies card container */
.hobbies-card {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 97%;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Add this line to spread content */
    flex-wrap: wrap; /* Add this line for wrapping */
    padding: 30px;
    height: 390px;
}

/* Hobbies info */
.hobbies-info {
    flex: 1;
    margin-left: 20px; /* Add space between image and text */
    text-align: justify; /* Justify text */
    margin-top: -90px;
}

/* Hobbies image */
.hobbies-image {
    flex: 1;
}

.hobbies-image img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add border radius to the image */
}

/* Hobbies card title */
.hobbies-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Hobbies card description */
.hobbies-card p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    .mid-container {
        margin-left: 0;
        margin-top: 40px;
        padding: 0 20px;
    }

   

    .project-image {
        margin-bottom: 20px;
    }

    .left-about-me, .left-contact-me {
        width: 100%;
        margin-bottom: 20px;
    }

    .header ul {
        margin-right: 0;
        padding: 0;
    }

    form {
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
    }

    .hobbies-card {
        margin-left: 10px;
        width: 95%;
        float: left;
        height: 500px;
    }

    .hobbies-image {
        margin-bottom: 20px;
        display: block;
    }

    .hobbies-image img {
        width: 50%; /* Reduce image size */
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .mid-container {
        margin-left: 0;
        margin-top: 20px;
        padding: 0 10px;
    }

    .project-card {
        margin-left: 5px;
        width: 100%;
    }

    form {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
    }

    .hobbies-card {
        margin-left: 5px;
        width: 100%;
    }

    .hobbies-image img {
        width: 50%; /* Reduce image size */
        height: auto;
    }
}


/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
      .size-image-hobbies-projects{

        width: 40%;
      }
    }
/* Project card container */
.project-card, .hobbies-card {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Project info or hobbies info */
.project-info, .hobbies-info {
    flex: 1;
    margin-left: 20px;
    text-align: justify;
    margin-top: -185px;
}

/* Project image or hobbies image */
.project-image, .hobbies-image {
    flex: 1;
    max-width: 100%; /* Ensure images and videos are responsive */
    height: auto;
    margin-bottom: 20px; /* Adjust margin for spacing */
    display: block;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    .project-card, .hobbies-card {
        margin-left: 10px;
        width: 95%;
       display: block;
       height: 600px;
    }
    .main-content {
        width: 100%;
        height: 3300px;
        padding-top: 20px;
        background-color: #fff;
        margin-top: -50px;
    }

    .project-info, .hobbies-info {
        margin-left: 0;
        margin-top: 10px; /* Adjust spacing between image and text */
    }

    .project-image img, .hobbies-image img {
        width: 100%; /* Adjust image size for smaller screens */
    }
}

.pro-image{

    height: 5px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffff; /* Green background color */
    color: #000; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    
}

.download-button i {
    margin-right: 10px; /* Space between icon and text */
}

.download-button:hover {
    background-color: #fff; /* Darker green on hover */
}

/* Adjust icon size if necessary */
.fa-google-play {
    font-size: 1.2em; /* Adjust icon size */
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


